# Database
DATABASE_URL="postgresql://postgres:postgres123@localhost:55432/ecommerce_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_ACCESS_SECRET=ecommerce-super-secret-access-key-2026
JWT_REFRESH_SECRET=ecommerce-super-secret-refresh-key-2026
JWT_ACCESS_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

# Server
PORT=3000
NODE_ENV=development

# SePay (placeholder for week 4)
SEPAY_API_KEY=
SEPAY_WEBHOOK_SECRET=
